!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ property: "og:title", content: "Top Trending Artists from Artsy. An #ArtsyHackathon project." }
    %meta{ property: "og:description", content: "A list of the most popular trending artists in the world based on data generated from Artsy." }
    %meta{ property: "twitter:description", content: "A list of the most popular trending artists in the world based on data generated from Artsy." }
    %meta{ property: "og:url", content: @current_url }
    %meta{ property: "og:type", content: 'trending-artists' }
    %meta{ property: "og:image", content: "#{@current_url}/ogimage.png" }
    %meta{ name: "viewport", content: "width=device-width", 'initial-scale' => "1" }
    %title Top Trending Artists | Artsy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:type => "text/javascript", :src => "//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js"}
  %body
    = yield
